<%- include('./partials/header.ejs') %>

<div class="details">
	<img class="details-pic" alt="" src="<%= dog.pic %>" />
	<h2 class="details-title"><%= dog.name %></h2>
	<% for( const detail of dog.story) { %>
		<p class="details-p"><%= detail %></p>
	<% } %>
</div>

<%- include('partials/footer.ejs') %>
