<%- include('./partials/header.ejs') %>

<div class="cards">
    <% for( const dog of dogs ) { %>
        <div class="card">
            <div class="card-top">
                <img class="card-pic" alt="" src="<%= dog.pic %>" />
            </div>
            <div class="card-body">
                <p class="card-title"><a href="/dogs/<%= dog.url %>"><%= dog.name %></a></p>
                <ul class="card-carac">
                    <li class="card-caracItem">
                        <span class="card-caracProp">Age :</span>
                        <%= dog.age %>
                    </li>
                    <li class="card-caracItem">
                        <span class="card-caracProp">Couleurs :</span>
                        <%= dog.color %>
                    </li>
                    <li class="card-caracItem">
                        <span class="card-caracProp">Signe particulier :</span>
                        <%= dog.signe %>
                    </li>
                </ul>
            </div>
        </div>
    <% } %>
</div>

<%- include('partials/footer.ejs') %>
